<header class="" id="header">
    <div class="nav-title d-flex align-items-center">
        <a class="navbar-brand" href="{{ path("index") }}">
            <img src="{{ asset("img/icon.png") }}" alt="" class="d-inline-block nav-icon animate-element">
        </a>
        <a href="{{ path("index") }}" class="d-inline-block text-light text-decoration-none nav-title-link animate-element" >
            PartyGuru
        </a>
    </div>

    <div class="nav-right">
        <a href="{{ path("find_party") }}" class="btn btn-primary">Party finden</a>
        <a href="{{ path("create_party") }}" class="btn btn-success" style="margin-left: 0.5rem">Party erstellen</a>
        {% if app.user %}
           <a href="{{ path("login") }}"><i class="fas fa-user-shield user-icon"></i></a>
        {% else %}
            <a href="{{ path("login") }}" class="btn btn-primary" style="margin-left: 0.5rem">Login</a>
        {% endif %}
    </div>
</header>